body {
    background-color: aqua;
    font-style: arial;
}

header {
    display: block;
    height: 100px;
    background-color: #FFF;
}

#menu  li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

#Napoleon-image {
    float: right;
    width: 400px
}