@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-weight: 200;
}

h1, h2 {
    text-transform: uppercase;
    color: #1180D1;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 300%;
}

#menu {
    letter-spacing: 3px;
    font-size: 120%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
}